#list-wrapper {
  position: relative;
  margin-top: 3vh;
  padding-top: 2vh;
  height: 100%;
  width: 100vw;
  padding-right: 1vw;
  padding-left: 2vw;
  border-top: 1px solid rgb(66, 66, 66);
}
.list-item-container {
  display: flex;
  align-items: center;
}
.list-item-container.hidden {
  display: none;
}
.checkbox {
  padding: 1px;
  border: 1px solid rgb(0, 0, 0, 0);
  user-select: none;
}
.checkbox:hover {
  border: 1px solid white;
}
.checked {
  color: rgb(35, 209, 139);
}
.unchecked {
  color: rgb(241, 76, 76);
}
.list-item {
  background-color: rgb(30, 30, 30);
  width: 70%;
  border-color: transparent;
  border-width: 2px 0px 2px 0px;
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: large;
  margin: 2px;
}
.editable {
  background-color: rgb(57, 57, 58);
}
.list-item:focus {
  outline: none;
  border: solid rgb(57, 57, 58);
  border-width: 2px 0px 2px 0px;
}
.list-buttons {
  background-color: rgb(43, 43, 44);
  padding: auto;
  border: none;
  margin: 2px;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: large;
}
.list-buttons:hover {
  background-color: rgb(57, 57, 58);
}
